{% extends 'admin/index.html' %}
{% block body %}
<form name="f1" method="post" action="/password_post">
    <table class="table table-borderless">
        <tr>
            <th>Current Password</th>
            <td><input type="text" name="p1" class="form-control" required></td>
        </tr>
        <tr>
            <th>New Password</th>
            <td><input type="text" name="p2" class="form-control" required></td>
        </tr>
        <tr>
            <th>Confirm Password</th>
            <td><input type="text" name="p3" class="form-control" required></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="Save" class="btn btn-outline-success"></td>
        </tr>
    </table>
</form>
{% endblock %}